/*This is all the styling for the Builder component */
.builder-top-spacer {
  height: 30px;
}

.builder-back-button {
  margin: 20px;
  text-decoration: none;
  border: 3px solid #9e122b;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.builder-back-button:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #9e122b;
  color: #ffffff;
}

.builder-container h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.6em;
  color: #000;
}

.builder-container .question-answer-container {
  margin: 0 auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.builder-container .question-answer-container .questions-container {
  width: 100%;
  margin-top: 20px;
  color: white;
  text-align: center;
  padding: 15px;
}

.builder-container .question-answer-container .questions-container ul > li {
  padding: 5px;
  list-style-type: none;
}

.builder-container .question-answer-container .questions-container ul > li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: 4px solid #9e122b;
  padding: 10px;
  border-radius: 10px;
}

.builder-container .question-answer-container .questions-container ul > li div label {
  color: black;
  width: 30px;
  height: 30px;
  background-color: #9e122b;
}

.builder-container .question-answer-container .questions-container ul > li div label:hover {
  cursor: pointer;
}

.builder-container .question-answer-container .questions-container ul > li div label #upload-image {
  width: 30px;
  height: 30px;
  background-color: black;
}

.builder-container .question-answer-container .questions-container ul > li div div {
  border: none;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.2rem;
}

.builder-container .question-answer-container .questions-container ul > li div div input[type="text"] {
  font-size: 1.2rem;
  display: inline-block;
  width: 100%;
  border: none;
  border-bottom: 2px solid grey;
}

.builder-container .question-answer-container .questions-container ul > li div div input[type="text"]:focus {
  outline: none;
}

.builder-container .question-answer-container .questions-container ul > li div div input[type="text"]:focus + small {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1rem;
  top: -0.9rem;
}

.builder-container .question-answer-container .questions-container ul > li div div input[type="text"]:valid + small {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1rem;
  top: -0.9rem;
}

.builder-container .question-answer-container .questions-container ul > li div div small {
  top: 0.6rem;
  font-size: 1.2rem;
  -webkit-transition: 1s;
  transition: 1s;
  pointer-events: none;
  color: grey;
  position: absolute;
}

.builder-container .question-answer-container .questions-container ul > li div input[type="file"] {
  display: none;
}

.builder-container .builder-input-holder {
  text-align: center;
}

.builder-container .builder-input-holder input {
  color: #9e122b;
  text-decoration: none;
  border: 3px solid #9e122b;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.builder-container .builder-input-holder input:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  background-color: #9e122b;
  color: #ffffff;
}

@-webkit-keyframes moveSmallUp {
  from {
    top: 0;
  }
  50% {
    top: -5%;
  }
  to {
    top: -10%;
  }
}

@keyframes moveSmallUp {
  from {
    top: 0;
  }
  50% {
    top: -5%;
  }
  to {
    top: -10%;
  }
}
/*# sourceMappingURL=builder.css.map */