/*This is all the styling for the Builder component */
$boldText: #000;
$mainBackgroundColor: #9e122b;
.builder-top-spacer {
  height: 30px;
}
.builder-back-button {
  margin: 20px;
  text-decoration: none;
  border: 3px solid $mainBackgroundColor;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2em;
  transition: 0.4s;
  &:hover {
    transition: 0.4s;
    background-color: $mainBackgroundColor;
    color: #ffffff;
  }
}

.builder-container {
  h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.6em;
    color: $boldText;
  }
  .question-answer-container {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .questions-container {
      width: 100%;
      margin-top: 20px;
      color: white;
      text-align: center;
      padding: 15px;
      ul > li {
        padding: 5px;
        list-style-type: none;
        div {
          display: flex;
          align-items: center;
          background-color: white;
          border: 4px solid #9e122b;
          padding: 10px;
          border-radius: 10px;
          label {
            color: black;
            width: 30px;
            height: 30px;
            background-color: #9e122b;
            &:hover {
              cursor: pointer;
            }
            #upload-image {
              width: 30px;
              height: 30px;
              background-color: black;
            }
          }
          .question-holder {
          }
          .answer-holder {
          }
          div {
            border: none;
            position: relative;
            flex-grow: 1;
            font-size: 1.2rem;

            input[type="text"] {
              font-size: 1.2rem;
              display: inline-block;
              width: 100%;
              border: none;
              border-bottom: 2px solid grey;
              &:focus {
                outline: none;
              }
              &:focus + small {
                transition: 0.3s;
                font-size: 1rem;
                top: -0.9rem;
              }
              &:valid + small {
                transition: 0.3s;
                font-size: 1rem;
                top: -0.9rem;
              }
            }

            small {
              top: 0.6rem;
              font-size: 1.2rem;
              transition: 1s;
              pointer-events: none;
              color: grey;
              position: absolute;
            }
          }
          input[type="file"] {
            display: none;
          }
        }
      }
    }
    // .answers-container {
    //   margin-top: 20px;
    //   text-align: center;
    //   background: $mainBackgroundColor;
    //   border-radius: 30px;
    //   border-bottom-left-radius: 0px;
    //   border-bottom-right-radius: 0px;
    //   padding: 15px;
    //   color: white;
    //   ul > li {
    //     border-top: 2px solid grey;
    //     padding: 5px;
    //     list-style-type: none;
    //     input {
    //       padding: 10px;
    //       margin-bottom: 62.5px;
    //     }
    //   }
    // }
  }

  .builder-input-holder {
    text-align: center;
    input {
      color: $mainBackgroundColor;
      text-decoration: none;
      border: 3px solid $mainBackgroundColor;
      padding: 8px;
      border-radius: 5px;
      font-size: 1.2em;
      transition: 0.4s;
      &:hover {
        transition: 0.4s;
        cursor: pointer;
        background-color: $mainBackgroundColor;
        color: #ffffff;
      }
    }
  }
}
@keyframes moveSmallUp {
  from {
    top: 0;
  }
  50% {
    top: -5%;
  }
  to {
    top: -10%;
  }
}
